.card {
  background-color: #fff;
  border-radius: 10px;
  height: 361px;
  margin: 0;
  max-width: 100%;
  width: 282px;
}
.card__image {
  border-radius: 10px 10px 0 0;
  height: 282px;
  object-fit: cover;
  width: 100%;
}
.card__info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 25px 20px;
}
.card__title {
  color: #000;
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__like-button {
  /* heart svg width=20 height=18 */
  min-width: 21px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
