.content {
  box-sizing: border-box;
  margin: 0 auto 67px;
  max-width: 880px;
}
.content__gallery {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
.content__cards {
  display: grid;
  gap: 17px;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(auto-fit, 1fr);
}
@media screen and (max-width: 880px) {
  .content__cards {
    grid-template-columns: repeat(2, max-content);
    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width: 580px) {
  .content {
    margin: 0 19px 48px;
    min-width: 282px;
  }
  .content__cards {
    gap: 20px;
    grid-template-columns: repeat(1, max-content);
  }
}
