.footer {
  margin: 0 auto;
  max-width: 880px;
}
.footer__copyright {
  color: rgb(84, 84, 84);
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
}
@media screen and (max-width: 580px) {
  .footer {
    min-width: 282px;
    min-height: 14px;
    font-size: 14px;
    margin: 0 19px 36px;
  }
}
