.footer {
  max-width: 880px;
  margin: 0 auto 60px;
}

.footer__copyright {
  color: rgb(84, 84, 84);
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 880px) {
  .footer {
    margin: 0 19px 36px;
  }
}
