.header {
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin-bottom: 40px;
}

.header__logo {
  display: block;
  max-width: 173px;
  max-height: 33px;
  margin-bottom: 40px;
}

@media screen and (max-width: 725px) {
  .header {
    min-width: 320px;
  }
  .header__logo {
    min-width: 126px;
    min-height: 24px;
  }
}
