.header {
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.702);
  margin: 45px auto 40px;
  padding: 0 0 40px;
}

.header__logo {
  display: block;
  max-width: 173px;
  height: 33px;
}

@media screen and (max-width: 725px) {
  .header {
    max-width: 100%;
    margin: 28px 0 42px 0;
    padding-bottom: 32px;
  }

  .header__logo {
    max-width: 126px;
    height: 24px;
    margin-left: 27px;
  }
}
