.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.702);
  padding: 45px 0 40px; /* logo white space */
  margin-bottom: 51px;
  grid-area: header;
}
.header__logo {
  height: 33px;
  width: 173px;
}

@media screen and (max-width: 580px) {
  .header {
    margin: 28px 0 42px;
    padding: 0 10px 32px 27px;
  }
  .header__logo {
    height: 24px;
    width: 126px;
  }
}
