.page {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page__wrapper {
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}
.page__section {
  position: relative;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  padding: 0;
}
.page__content {
  grid-area: content;
}

@media screen and (max-width: 580px) {
  .page__section {
    max-width: calc(100% - 38px);
    margin-left: 19px;
    margin-right: 19px;
  }
}
