*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px dotted purple; */
}

body {
  background-color: #000;
}

.page {
  font-family: "Inter", "Arial", sans-serif;
  background-color: #000;
  color: #fff;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  /* padding: 0 10%; */
}
@media screen and (max-width: 725px) {
  .page {
    padding: 0;
    margin: auto;
    min-width: 320px;
  }
}
/* @media screen and (min-width: 320px) {
  .page {
    min-width: 320px;
  }
} */
