.body,
.page {
  background-color: #000;
  box-sizing: border-box;
}
.page {
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  margin: 0 auto;
  max-width: 1280px;
  min-height: 100vh;
}
@media screen and (max-width: 725px) {
  .page {
    margin: 0;
    min-width: 320px;
    padding: 0;
  }
}
