.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__info {
  margin-left: 30px;
}

.profile__user-name,
.profile__user-title {
  font-family: "Inter", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.profile__user-name {
  display: inline-block;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14; /* 48px */
  margin-bottom: 7px;
}

.profile__user-title {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 1;
}

.profile__edit-button {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid rgb(255, 255, 255);
  width: 24px;
  height: 24px;
  margin: 0 0 0 18px;
  padding: 6px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.profile__edit-button:hover {
  opacity: 0.6000000238418579;
  cursor: pointer;
}

.profile__add-button {
  display: block;
  border: 2px solid rgb(255, 255, 255);
  width: 150px;
  height: 50px;
  margin: 0 0 0 auto;
  padding: 13px 62px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.profile__add-button:hover {
  opacity: 0.6000000238418579;
  cursor: pointer;
}

@media screen and (max-width: 725px) {
  .profile__avatar {
    margin: 0 auto 30px;
  }

  .profile__edit-button {
    margin: 0 15px 0 10px;
    padding: 3px;
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 580px) {
  /* for single column layout */
  .profile {
    margin: 0 0 36px;
    min-width: 282px;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  .profile__info {
    margin: 0 0 31px;
  }

  .profile__user-name {
    font-size: 22px;
    margin: 0 0 14px 43px;
    text-align: center;
  }

  .profile__user-title {
    font-size: 14px;
    text-align: center;
  }

  .profile__add-button {
    margin: auto;
    min-width: 282px;
    padding: 12px 129px;
  }
}
