.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__info {
  margin-left: 30px;
}

.profile__user-name,
.profile__user-title {
  font-family: "Inter", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.profile__user-name {
  display: inline-block;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14; /* 48px */
  margin-bottom: 7px;
}

.profile__user-title {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 1;
}

.profile__button_type_edit {
  box-sizing: border-box;
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid rgb(255, 255, 255);
  margin: 0 0 0 18px;
  padding: 7px;
  background-image: url("../images/pencil_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.profile__button_type_add {
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
  margin: 0 0 0 auto;
  padding: 22px 72px;
  background-image: url("../images/plus_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 725px) {
  .profile__avatar {
    margin: 0 auto 30px;
  }

  .profile__info {
    margin: auto;
  }

  .profile__user-name {
    font-size: 22px;
    text-align: left;
  }

  .profile__user-title {
    font-size: 14px;
    text-align: left;
  }

  .profile__button_type_edit {
    margin: 0 15px 0 10px;
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 580px) {
  /* for single column layout */
  .profile {
    margin: 0 auto 36px;
    width: 90%;
    min-width: 320px;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  .profile__user-name {
    margin: 0 0 14px 43px;
    text-align: center;
  }

  .profile__user-title {
    font-size: 14px;
    text-align: center;
    margin-bottom: 31px;
  }

  .profile__button_type_add {
    margin: auto;
    min-width: 282px;
  }
}
